.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}
.grid{

display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}

.item{

display: flex;
 border-style: solid;
 border-width: 2;

}
p{
    color: #2400A2;
    font-size: 21;
}
body{
   
    background-color: #33F9FA;
}

a:link{

color : white

}
a:visited {

    color : white

}

.item{

position: relative;

}

.item p{

    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    opacity:0;

}

.item:hover p{

opacity:1 ;


}

.item:hover img{

opacity:0.5;

}